<h1>Login</h1>
<%= form_for(:sessions, url: login_path) do |f| %>

  Email<%= f.text_field :email %> <br/>
  Password: <%= f.password_field :password %><br/>
    <%= f.check_box :remember_me %> Recuerdame
<%= f.submit 'Iniciar Sesion' %>
<%end %>

