<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Edad</th>
      <th>Domicilio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.edad %></td>
        <td><%= student.domicilio %></td>
        <td><%= link_to 'Show', student, class: ' button success' %></td>
        <td><%= link_to 'Edit', edit_student_path(student), class:' warning button' %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Esta Usted Seguro?' },class:'alert button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante', new_student_path %>
