<h2>Login</h2>

<%= form_for(:session, url: login_path ) do |f| %>
    Email: <%= f.email_field :email %> <br>
    Password: <%= f.password_field :password %> <br>
    <%= f.check_box :remember_me %>
    <span>Recuerdame</span>

    <%= f.submit 'Iniciar sesion' %>

<% end %>