<%= form_for @libro do |f| %>

    <% if @libro.errors.any? %>
        <div id ="error_explanation">
            <h2>Errores:</h2>
          <ul>
          <% @libro.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>


          <% end %>
          </ul>
          </div>
        <% end %>

  Titulo: <%= f.text_field :titulo %><br />
    Autor: <%= f.text_field :autor %><br />
    Descripcion: <%= f.text_area :descripcion %><br />
    A単o: <%= f.text_field :a単o %><br />

<%= f.submit 'Enviar datos' %>
 <% end %>

<hr/>

Listado de libros <br/>
<% if !@libros.blank?  %>
<table border="1">
  <tr>
  <th>Titulo</th>
  <th>A単o</th>
  </tr>
<% for item in @libros %>
   <tr>
  <td><%= link_to item.titulo, :controller => :prestamos, :action => :new, :id => item.id %></td> <td> (<%= item.a単o %>)</td>
  </tr>
  <% end %>
  </table>
<% else %>

    No hay libros registrados.


<% end %>

