Libro: <%= @libro.titulo %>(<%= link_to 'Regresar', new_libro_path %>)

<hr/>

<%= form_for @prestamo, :url => {action: :create, :id => @libro.id} do |f| %>

Fecha de prestamo: <%= f.date_select :fecha_prestamo %> <br/>
    Fecha de entrega: <%= f.date_select :fecha_entrega %> <br/>
<%= f.submit 'Registrar prestamo' %>
<% end %>

<hr/>

<% if  @libro.prestamos.exists? %>

<table border="1">
  <tr>
  <th>Fecha de prestamo</th>
  <th>Fecha de entrega</th>
  </tr>
  <% for item in @libro.prestamos %>
      <% if !item.fecha_prestamo.nil? %>
  <tr>
    <td><%= item.fecha_prestamo %></td>
    <td><%= item.fecha_entrega %></td>


  </tr>
          <%end %>
  <% end %>

</table>
<% else %>
    No hay prestamo de este libro
    <% end %>





